.post {
    border: 1px solid silver;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.post-number {
    font-weight: bold;
    margin-right: 20px;
}
  
.post-content {
    margin-right: auto;
}
  
.post-title {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
  
.btn {
    padding: 10px;
    border: 1px solid green; 
    color: green;
    background: none;
}